{% extends "base.html" %}

{% block header_bottom %}
<style>
    .connectedSortable { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
    .connectedSortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; border: 1px solid lavender;
        border-radius: 4px; cursor:pointer; }
    .connectedSortable li:hover { border:1px solid #666; }
    #player_status { padding-left: 31px; color: #888; }
</style>
{% endblock %}

{% block body %}
<a href="javascript:playerd_cmd('do_play');" type="button" class="btn btn-default btn-sm" id="btn_play">
    <span class="glyphicon glyphicon-play"></span>
</a>
<a href="javascript:playerd_cmd('do_stop');" type="button" class="btn btn-default btn-sm" id="btn_stop">
    <span class="glyphicon glyphicon-stop"></span>
</a>
<a href="javascript:playerd_cmd('do_first');" type="button" class="btn btn-default btn-sm" id="btn_first">
    <span class="glyphicon glyphicon-fast-backward"></span>
</a>
<a href="javascript:playerd_cmd('do_prev');" type="button" class="btn btn-default btn-sm" id="btn_prev">
    <span class="glyphicon glyphicon-backward"></span>
</a>
<a href="javascript:playerd_cmd('do_next');" type="button" class="btn btn-default btn-sm" id="btn_next">
    <span class="glyphicon glyphicon-forward"></span>
</a>

<span id="player_status"></span>

<hr />

<div class="row">
    <div class="col-md-6">
        <form action="/playlist_save/" method="post">
        {% csrf_token %}

        <h2>Playlist </h2>
        <hr />
        <ul id="sortable1" class="connectedSortable" style="width:100%;">
            {% for pf in playlist_files %}
                <li class="ui-state-default"><span class="glyphicon glyphicon-{% if pf.media == 'video' %}film{% elif pf.media == 'audio' %}headphones{% elif pf.media == 'image' %}picture{% endif %}"></span> {{ pf.fn }} {% if not pf.existing %} <span class="label label-danger" style="font-size:60%;">File Missing</span>{% endif %}<input type="hidden" name="fn[]" value="{{ pf.fn }}" /></li>
            {% endfor %}
        </ul>

        <div style="clear:both;"></div>

        <!--<table style="vertical-align: top; margin-bottom:20px;">-->
            <!--<tr>-->
                <!--<td style="padding-right:50px; vertical-align: top;">-->
                    <!--<h4>Mode</h4>-->
                    <!--<div class="radio">-->
                        <!--<label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Normal</label>-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                        <!--<label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Random</label>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td style="padding-right:50px; vertical-align: top;">-->
                    <!--<h4>Loop</h4>-->
                    <!--<input type="number" class="form-control" min="0" placeholder="0" style="width:50px" /> <small>0 for endless</small>-->
                <!--</td>-->
                <!--<td style="vertical-align: top;">-->
                    <!--<h4>Autostart</h4>-->
                    <!--<div class="checkbox">-->
                        <!--<label><input type="checkbox"> Start playing at startup</label>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->

        <input type="submit" value="Save" class="btn btn-success" disabled="disabled" id="btn-submit"/>
        </form>
    </div>

    <div class="col-md-6">
        <h2>Media</h2>
        <hr />
        <ul id="sortable2" class="connectedSortable">
            {% for fn in media_files.video %}
                <li class="ui-state-default"><span class="glyphicon glyphicon-film"></span> {{ fn }}<input type="hidden" name="fn[]" value="{{ fn }}" /></li>
            {% endfor %}
            {% for fn in media_files.audio %}
                <li class="ui-state-default"><span class="glyphicon glyphicon-headphones"></span> {{ fn }}<input type="hidden" name="fn[]" value="{{ fn }}" /></li>
            {% endfor %}
            {% for fn in media_files.image %}
                <li class="ui-state-default"><span class="glyphicon glyphicon-picture"></span> {{ fn }}<input type="hidden" name="fn[]" value="{{ fn }}" /></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}


{% block js_bottom %}
<script>
$(function() {
    $( ".connectedSortable" ).sortable({
        connectWith: ".connectedSortable",
        change: function(event, ui) { $("#btn-submit").prop("disabled", false); }
    }).disableSelection();
});

function playerd_cmd(cmd) {
    $.ajax({
        url: "/ajax/player_cmd?cmd=" + cmd
    }).done(function(data) {
        console.log(data);
        update_status(data);
    })
}

function get_status() {
    $.ajax({
        url: "/ajax/player_cmd?cmd=get_status",
    }).done(function(data) {
        console.log(data);
        update_status(data);
        setTimeout(get_status, 2000);
    }).error(function(xhr, status, error) {
        $("#player_status").html("playerd: " + error.toLowerCase());
        setTimeout(get_status, 4000);
    });
}

function update_status(data) {
    data_cleaned = data.replace("{u'", "{'").replace(/[:][ ]u[']/g, ": '").replace(/[,][ ]u[']/g, ", '").replace(/[']/g, '"').replace(/[:][ ]None/g, ": false")
    console.log(data_cleaned);
    data_object = JSON.parse(data_cleaned);
    $("#player_status").html(data_object.last_file);

    $("#btn_play").removeClass("active");
    $("#btn_stop").removeClass("active");
    if (data_object.state == 0) {
        $("#btn_stop").addClass("active");
    } else {
        $("#btn_play").addClass("active");
    }
}

$(get_status);
</script>
{% endblock %}
